
:host{
    display: block;
    position: absolute;
    bottom: 0;
    top:0;
    right:0;
    left:0;
    background: var(--background);
}

.close-btn {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 6em;
    color:var(--text-color);

    @media (max-width: 480px) {
        font-size: 1.5em;
    }
    @media (max-width: 768px) {
        font-size: 3em;
    }

}

.info{
    padding: 50px 0px;
    &__title{
        color:var(--text-color);
        text-align: center;
        font-size: 50px;
    }
}

.picture{
    text-align: center;
    &__image{
        width: 80%;
    }
}